# Copy to /etc/alanet/rclone.conf on production and chmod 600.
# Fill access_key_id and secret_access_key from Timeweb Cloud.

[timeweb]
type = s3
provider = Other
env_auth = false
access_key_id = <TIMEWEB_ACCESS_KEY>
secret_access_key = <TIMEWEB_SECRET_ACCESS_KEY>
endpoint = https://s3.twcstorage.ru
region = ru:ru-1-hot
