NODE_CONTAINER_NAME={{ remnanode_container_name }}
NODE_HOSTNAME={{ node_name | default(inventory_hostname) }}
NODE_PORT={{ remnanode_port }}
SECRET_KEY={{ remnanode_secret_key }}
NODE_MEMORY_LIMIT={{ remnanode_memory_limit }}
NODE_CPU_LIMIT={{ remnanode_cpu_limit }}
NODE_PIDS_LIMIT={{ remnanode_pids_limit }}
